@using Microsoft.Ajax.Utilities
@using RobertaStone.Models
@model IQueryable<RobertaStone.Models.Lexis>
@{
    ViewBag.Title = "ShowLexis";
}

<div>
    @Html.ActionLink("Add Lexis","New","Lexis", new { @class = "btn btn-default" })
</div>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var lexis in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(lexis.LexisContent, "Edit", lexis, new { id = lexis.id })
            </td>
        </tr>
        }
    </tbody>
</table>